@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.main_login_div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/lssbackground.png");
  color: white;
  user-select: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.form_div {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  padding: 20px;
}

.form_elements input {
  border: 2px solid #2e3191;
  width: 100%; /* Full width */
  max-width: 350px; /* Limit max width */
  height: 50px; /* Increased height */
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

.back_button {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.user_login_btn:hover {
  background-color: white;
  color: blue;
  transition: 0.8s;
  transform: scale(1.02);
  border: 2px solid #2e3191;
}

.user_login_btn {
  height: auto;
  background-color: #2e3191;
  padding: 15px 10px;
  color: white;
  border-style: none;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 10px;
}

.login_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_subtitle {
  border: 2px solid #2e3191;
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}
