.top_bar_nav {
  height: 50px;
  text-align: center;
  border: 2px solid #2e3191;
  color: #2e3191;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.side_bar {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #2e31916e;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 13px 7px;
  border: 2px solid white;
}

.main_btn {
  width: 250px;
  height: auto;
  background-color: #2e3191;
  color: white;
  border-style: none;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 25px;
}
.main_btn:hover {
  background-color: white;
  color: blue;
  transition: 0.8s;
  transform: scale(1.1);
  border: 2px solid #2e3191;
}

.main_body {
  max-height: 100vh;
}

.child_body {
  background-color: yellow;
}

.main_child {
  height: 100vh;
}
.plan_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sub_btn {
  width: 250px;
  height: auto;
  background-color: white;
  color: #2e3191;
  border-style: none;
  border-radius: 5px;
  border: 2px solid #2e3191;
  padding: 10px 25px;
}

.sub_btn:hover {
  background-color: #2e3191;
  color: white;
  transition: 0.8s;
  transform: scale(1.1);
  border: 2px solid white;
}
.logout_text{
  color: #2e3191;
  position: absolute;
  right: 10%;
}